
$brk-xlarge: '(max-width: 2570px)';
$brk-large: '(max-width: 1440px)';
$brk-medium: '(max-width: 1285px)';
$brk-narrow: '(max-width: 1024px)';
$brk-spnarrow: '(max-width: 767px)';
$brk-iphone: '(max-width: 400px)';

html {
  font-size:15px;
}

body {
  background: url(../img/map_background.jpg) no-repeat;
  background-size: 100vw 100vh;

}

.abs-top {
  position: absolute;
  top: 30px;
  left: 0;
}

.abs-bott {
  width:50vw;
  position: absolute;
  bottom: 5px;
  left: 0;
}

h1, h2 {
  text-transform: uppercase;
  color:white;
  margin-left: 10%;
}

h1 {
  font-size:5rem;
  font-weight: 800;
  letter-spacing:2px;
}

h2 {
  font-size:2.0rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing:2px;
}

h3 {
  margin-left: 10%;
  color:white;
  font-size:1.6rem;
  line-height: 2rem;
  font-weight: 800;

}


svg {
  margin: 0;
  position:absolute;
  top: 10vh;
  left: 10vw;

}

#map {
  z-index: 0;
}

#regions-chart {
  padding: 5px;
  fill: #ffd400;
  //stroke: blue;
  //stroke-width: 3px;
  /*stroke-opacity: 1;*/
  -webkit-background-clip: content;
}

.regions-chart path {
  stroke: #f2f2f2;
}

#card p {
  color: white;
}

.label {
  font-weight: 200;
  text-anchor: middle;
  cursor: default;
  font-size:11px;
  color: #2e2e2e;
  //position:absolute;
}


/*--------------------------
 --------- card -----------*/

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 5;
  display:none;
}

.container {
  margin-left:20vw!important;
  margin-right:20vw!important;
  width:60vw!important;
  margin-top: 10vh!important;
  height: 80vh;
}


#popup1 {
  z-index: 5;
}

.social-icons {
  margin-top:10px;
  position: fixed;
}

.close-img, .arrow {
  height: 50%;
  width:50%;
  margin-top:10px;
  cursor: pointer;
}

.fa {
  font-size: 30px!important;
}

.fa-twitter-square {
  padding: 3px;
  color: white;
  float: right;
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    color: yellow;
  }
}


h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  color:white;
  font-size:1.5rem;
  line-height: 1.8rem;
  font-weight: 800;
  text-align: center;
}

#social-close {
  @media #{$brk-xlarge},
  #{$brk-large}{
    height: 10vh;
  }
  @media #{$brk-medium},
  #{$brk-narrow} {
    height: 10vh;
  }
  @media #{$brk-spnarrow} {
    height: 10vh;
  }
  /*Portrait*/
  /* ----------- Galaxy S4, S5 and Note 3 ----------- */
  @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 3vh;
  }
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    height: 3vh;
  }

  /* ----------- iPhone 6+, 7+ and 8+ ----------- */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 3vh;
  }

  /* ----------- iPhone X ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 3vh;
  }


  /*Landscape*/
  /* ----------- Galaxy S4, S5 and Note 3 ----------- */
  @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 3vh;
  }
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: 10vh;
  }
  /* ----------- iPhone 6+, 7+ and 8+ ----------- */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 10vh;
  }
  /* ----------- iPhone X ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 10vh;
  }
}

//red block

#block_yellow1, #block_red {
  @media #{$brk-xlarge},
  #{$brk-large}{
    height: 20vh;
  }
  @media #{$brk-medium},
  #{$brk-narrow} {
    height: 25vh;
}
  @media #{$brk-spnarrow} {
    height: 20vh;
  }
  /*Portrait*/
  /* ----------- Galaxy S4, S5 and Note 3 ----------- */
  @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 10vh;
  }
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    height: 10vh;
  }

  /* ----------- iPhone 6+, 7+ and 8+ ----------- */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 10vh;
  }

  /* ----------- iPhone X ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 10vh;
  }


  /*Landscape*/
  /* ----------- Galaxy S4, S5 and Note 3 ----------- */
  @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 25vh;
  }
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: 25vh;
  }
  /* ----------- iPhone 6+, 7+ and 8+ ----------- */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 25vh;
  }
  /* ----------- iPhone X ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 25vh;
  }
}

#block_red {
  background: linear-gradient(to left top, #ba356a  50%, #9a2748 50%);
}

//yellow block

#yellow-test1 {
  position:absolute;
  top:0;
  left:0;
  height:25vh;
  background-repeat: repeat-y;
  background: linear-gradient(to left top, yellow 50%, orange 50%);
}

#yellow-test2 {
  position:absolute;
  top:0;
  left:50%;
  height:25vh;
  background-repeat: repeat-y;
  background: linear-gradient(to left top, yellow 50%, orange 50%);
}

p#sum {
  font-size:4vw;
  font-weight: 800;
  letter-spacing:2px;
  color:black!important;
  position:absolute;
  top: 40%;
  left: 25%;
  transform: translate(-20%, -40%);
}

// others

#block_blue,
#block_purple,
#block_green {
  @media #{$brk-xlarge},
  #{$brk-large}{
    height: 45vh;
  }
  @media #{$brk-medium},
  #{$brk-narrow} {
    height: 45vh;
  }
  @media #{$brk-spnarrow} {
    height: 40vh;
  }
  /*Portrait*/
  /* ----------- Galaxy S4, S5 and Note 3 ----------- */
  @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 20vh;
  }
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    height: 20vh;
  }

  /* ----------- iPhone 6+, 7+ and 8+ ----------- */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 20vh;
  }

  /* ----------- iPhone X ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 20vh;
  }


  /*Landscape*/
  /* ----------- Galaxy S4, S5 and Note 3 ----------- */
  @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 45vh;
  }
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: 45vh;
  }
  /* ----------- iPhone 6+, 7+ and 8+ ----------- */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 45vh;
  }
  /* ----------- iPhone X ----------- */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 45vh;
  }
}

#block_blue {
  background: linear-gradient(to left top, #014fef  50% /*bottom-right color*/, #3437aa 50% /*top-left color*/);
}

#block_purple {
  background: linear-gradient(to left top, #7b357e  50%,  #6b316e 50% );
}

#block_green {
  background: linear-gradient(to left top, #0f9a95  50%, #0f796f 50% );
}


p.price {
  font-size:2rem;
  line-height: 2rem;
  font-weight: 800;
  color:white;
  position:absolute;
  bottom:10px;
  left: 50%;
  transform: translate(-50%);

}

//#pic1, #pic2, #pic3 {
//  position:absolute;
//  width: 20vw;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//}

.pic {
  position:absolute;
  width: 20vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.region.republic {
cursor: default;
}

